// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@use '../abstracts' as a;

// button style //
.header-btn {
    background-color: a.$clr-primary-400;
    width: a.div(60);
    height: a.div(60);
    border-radius: 100%;
    border: 0;
}

.btn {
    padding: a.div(22.6) a.div(57.6);
    border: none;
    line-height: 1;
}