// -----------------------------------------------------------------------------
// This file contains all styles for the main background.
// -----------------------------------------------------------------------------

@use '../abstracts' as a;

// // background style //
body {
    background-color: a.$clr-primary-400;
}
.body-container {
    position: absolute;
    background: linear-gradient(0deg, a.$clr-primary-400 50%, a.$clr-neutral-100 50% );
}

// color style 
.clr-bg-primary {
    background-color: a.$clr-primary-400;
}
.clr-bg-secondary {
    background-color: a.$clr-secondary-400;
}

// .white-bg {
//     background-color: a.$clr-neutral-100;
// }

// .blue-bg {
//     background-color: a.$clr-primary-400;
// }
