// -----------------------------------------------------------------------------
// This file contains all styles for the container.
// -----------------------------------------------------------------------------

@use '../abstracts' as a;

// container styles //
.container {
//    width: a.div(a.$max-width);
   margin: 0 a.div(a.$padding);
//    margin-inline: auto;
}

.container-columns {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
