// -----------------------------------------------------------------------------
// This file contains all styles for the container.
// -----------------------------------------------------------------------------

@use '../abstracts' as a;

// container styles //
.container {
//    width: a.div(a.$max-width);
   margin: 0 a.div(a.$padding);
//    margin-inline: auto;
}

.container-columns {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

}