// -----------------------------------------------------------------------------
// This file contains all styles for the container.
// -----------------------------------------------------------------------------

@use '../abstracts' as a;

.padding-block-400 {
    padding-block: a.div(a.$s-400);
}

// .padding-block-800 {
//     padding-top: a.div(a.$s-800);
// }

.padding-block-600 {
    padding-bottom: a.div(a.$s-600);
}

.padding-block-100 {
    padding-block: a.div(a.$s-100);
}