// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use '../abstracts' as a;

//main section style //
.content__box {
    border: 1px solid a.$clr-primary-400;
    width: a.div(800);
    height: a.div(85.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: a.div(20.88);
    margin-bottom: a.div(40.75);
}
