// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$font-family:  Georgia, 'Times New Roman', Times, serif ;
// p {
//     font-family:;
// }

// colors
$clr-neutral-100: hsl(0, 0%, 100%);

$clr-primary-400: hsl(230, 81%, 55%);
$clr-secondary-400: hsl(49, 97%, 59%);

$font-weight: 400;

// text sizes
$fs-31: 31.88;
$fs-33: 33.6;
$fs-35: 35.5;
$fs-38: 38.75;
$fs-45: 45.24;
$fs-55: 55.06;
$fs-64: 64.88;
$fs-107: 107.51;

// layout measurements 
$max-width: 1492.4;
$padding: 118;

// padding measurement
$s-100:40.75;
$s-200:69.66;
$s-300:103.87;
$s-400:126;
$s-500:138.99;
$s-600:145;
$s-700:158.6;
$s-800:161;



