// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts' as a;

.section {
    height: a.div(374);
    padding: 0 a.div(77);
}


// Footer styles //

// .footer-section {
//     width: a.div(608.6);
// }

.email-input {
    width: a.div(608.6);
    height: a.div(81.15);
    position: relative;
    margin-bottom: a.div(138.99);
}

.email-input img {
    width: a.div(89.26);
    position: absolute;
    bottom: a.div(45);
    left: a.div(500);
}
.email-input #email {
    background-color: transparent;
    border: 1px solid a.$clr-neutral-100;
    width: 100%;
    padding-left: a.div(36.26);
}

.email-input #email::placeholder {
    color: hsl(0, 0%, 100%, 0.6);
}

// .footer-section h1 {
//     font-size: u.size(u.$text-size-160);
//     margin-bottom: u.size(103.87);
//     color: u.$color-text-100;
// }
// .footer-section-1 .footer-logo {
//     width: u.size(720);
//     height: u.size(168.71);
// }

// .footer-section-2 p,
// .footer-section-2 a {
//     color: u.$color-text-100;
// }

// .footer-section-2 p {
//     font-size: u.size(u.$text-size-130);
//     margin-bottom: u.size(28.2);
// }

// .footer-section-2 h1 {
//     font-size: u.size(u.$text-size-200);
//     padding: u.size(40.9) 0;
//     color: u.$color-text-100;
//     border-bottom: 2px solid hsla(0, 0%, 100%, 1);
// }

// .contact-info {
//     margin-top: u.size(69.6);
//     display: flex;
//     justify-content: space-between;
// }

// .copyright {
//     display: flex;
//     justify-content: space-between;
// }

// .copyright p {
//     margin-bottom: 0;
//     padding-top: 40px;
// }

