// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts' as a;

.section {
    height: a.div(374);
    padding: 0 a.div(77);
}


// Footer styles //

.footer-section {
    width: 50%;
}

.email-input {
    width: a.div(608.6);
    height: a.div(81.15);
    position: relative;
    margin-bottom: a.div(138.99);
    margin-top: a.div(79);
}

.email-input img {
    width: a.div(89.26);
    position: absolute;
    bottom: 40%;
    left: a.div(500);
}
.email-input #email {
    background-color: transparent;
    border: 1px solid a.$clr-neutral-100;
    width: 100%;
    padding: 8px 0 8px a.div(36.26);
    font-size: a.div(a.$fs-35);
    color: a.$clr-neutral-100;

}

.email-input #email:focus {
    outline: none;
}

.email-input #email::placeholder {
    color: hsl(0, 0%, 100%, 0.6);
    font-size: a.div(a.$fs-35);}

.footer-section h3 {
    margin-bottom: a.div(a.$s-300);
    margin-top: a.div(220.99);
}

.footer-logo {
    width: a.div(720);
    height: a.div(168.71);
}

// .footer-section-2 p,
// .footer-section-2 a {
//     color: u.$color-text-100;
// }

// .footer-section-2 p {
//     font-size: u.size(u.$text-size-130);
//     margin-bottom: u.size(28.2);
// }

// .footer-section-2 h1 {
//     font-size: u.size(u.$text-size-200);
//     padding: u.size(40.9) 0;
//     color: u.$color-text-100;
//     border-bottom: 2px solid hsla(0, 0%, 100%, 1);
// }

// .contact-info {
//     margin-top: u.size(69.6);
//     display: flex;
//     justify-content: space-between;
// }

// .copyright {
//     display: flex;
//     justify-content: space-between;
// }

// .copyright p {
//     margin-bottom: 0;
//     padding-top: 40px;
// }

