// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts' as a;

// header styles //

.header {
    padding-top: a.div(66.6);
}
.header__flex {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: a.div(183.59);
    height: a.div(59.97);
}

.header-btn {
    width: a.div(60);
    height: a.div(60);
}

